{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} currentaffairs {% endblock title %}
    

<!-- This is a home page that inherit from base  -->
{% block content %} 
 
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="text-align: justify;">
    <h3 class="m-3 pd-3" style="color: green; font-weight: bold;">About Us</h3><hr>
   <p style="text-align: justify;"> 
   <h4 style="color: green; font-weight: bold;">Welcome to www.sawaljawab.com – Your Interactive Hub for Government Exam Success!</h4>
At www.sawaljawab.com, we recognize that success in government exams often hinges on effective practice and a deep understanding of key concepts. That's why we've created a specialized platform that puts you at the center of your exam preparation journey.
<br><br><h4 style="color: green; font-weight: bold;">Our Mission: Practice, Learn, Succeed</h4>
Our mission is clear: to provide a dynamic and interactive space where students preparing for government exams can hone their skills through practice. We believe in the power of targeted questions and answers to reinforce learning, build confidence, and pave the way for success in competitive exams.
<br><br><h4 style="color: green; font-weight: bold;">Start Clicking, Start Succeeding</h4>
Ready to take the next step in your exam preparation? Join www.sawaljawab.com today and let every click bring you closer to success. The journey to acing government exams begins here.
</p>

    
</div>
 
{% endblock content %}
    

