<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
                      <!-- <li class="nav-item">
                          <a class="nav-link active" href="{% url 'currentaffairspage' %}">
                            Current Affairs
                          </a>
                      </li> -->
                     
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'reasoningpage' %}">
                            Reasoning 
                          </a>
                      </li>
                     
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'aptitudepage' %}">
                            Quantitative Aptitude
                          </a>
                      </li>
                     
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'currentaffairs_questions' category_slug='current_affairs'%}">
                          Current Affairs
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">
                          Geography
                      </a>
                  </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'computer_questions' category_slug='computer'%}">
                            Computer Knowledge
                        </a>
                     </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'gujaratipage' %}">
                        Gujarati Grammer 
                      </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                      Science And Technology
                    </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                         Constitutions
                        </a>
                    </li> -->
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                     Surveyer 
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Superviser Instructor Question banks
                  </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'englishpage' %}">
                  English Grammer
                </a>
              </li>
        </ul>
    </div>
</nav>