<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link active" href="#">
                            Current Affairs
                          </a>
                      </li>
                     
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                            Maths and Reasoning
                          </a>
                      </li>
                     
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                             History
                          </a>
                      </li>
                     
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          Economics
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                          Geography
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        Computer Knowledge
                    </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        Gujarati Grammer / Sahitya
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Science And Technology
                    </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                         Constitutions
                        </a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                        Gujarati Grammer / sahitya
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                     Surveyer 
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Superviser Instructor Question banks
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  English Grammer / Literature
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                Contact Us
                </a>
            </li>
        </ul>
    </div>
</nav>