{% extends 'myapp/base.html' %}
{% block title %}Questions-Answers{% endblock title %}
{% block content %}
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h3 class="mt-2" id="gujaratiheadings">સવાલ જવાબ માં તમારું સ્વાગત છે. અહીં તમે પ્રશ્નો અને જવાબો ના અભ્યાસ સરળતાથી કરી શકશો.</h3>
    <hr>
   

    <div class="row mt-2 shadow p-3">   <!--main row that have two divs one contain questions box and lists -->
        <!-- 10 Cards -->
        <div class="currentaffairs"> <!--This is 1st div that contain columns with lists-->
        <!-- Here is the code for displaying the Questions And Ansewrs here
        currentlly, Code is static for design purpose. You can manipulate when you need to display the 
        data from the database.
        -->
            <div class="innersection">
                       {% for q in page_obj %}  
                            <div>
                                <h4 style="text-align: left; letter-spacing: normal; font-weight: bolder;"> <span class="question_id">{{ page_obj.start_index|add:forloop.counter0 }})</span> {{q.question}}</h4>
                            
                                    <ul style="text-align: left; list-style:upper-alpha;">
                                        <li><a onclick="optASelected(this, '{{ q.answer }}', '{{ q.ans_description}}')">{{q.opt_A}}</a></li>
                                        <li><a onclick="optBSelected(this, '{{ q.answer }}', '{{ q.ans_description}}')">{{q.opt_B}}</a></li>
                                        <li><a onclick="optCSelected(this, '{{ q.answer }}', '{{ q.ans_description}}')">{{q.opt_C}}</a></li>
                                        <li><a onclick="optDSelected(this, '{{ q.answer }}', '{{ q.ans_description}}')">{{q.opt_D}}</a></li>
                                    </ul>
                                <p class="AnswerDescription">
                                    <!-- {{ q.answer }} is the Correct Answer !! -->
                                </p>
                          </div>
                       <hr style="font-weight: bolder;">
                      {% endfor %}
                    <!-- Below is for pagination  -->
                       <div class="pagination">
                        <span class="step-links"  style="color: green; padding: 15px; font-size: 20px;">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>     
            </div>
    </div>
    <div><h3 class="text-center text-success">!! All the Best !!</h3></div>
{% endblock content %}
    